[Unit]
Description=Rozszerzenia do RPI4 (dodatkowe przyciski i wyświetlacz)
After=multi-user.target

[Service]
ExecStart=/home/dizzy/rpi_custom_ext/venv/bin/python /home/dizzy/rpi_custom_ext/rpi_extension.py
WorkingDirectory=/home/dizzy/rpi_custom_ext/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=dizzy

[Install]
WantedBy=multi-user.target
